apiVersion: controlplane.cluster.x-k8s.io/v1beta1
kind: K0sControlPlane
metadata:
  name: {{ include "k0scontrolplane.name" . }}
  namespace: {{ .Values.cluster.namespace | default .Release.Namespace | trunc 63 }}
spec:
  replicas: {{ .Values.controlPlaneNumber }}
  version: {{ .Values.k0s.version }}
  k0sConfigSpec:
    {{- if .Values.k0s.downloadURL }}
    downloadURL: "{{ .Values.k0s.downloadURL }}"
    {{- end }}
    args:
      - --enable-worker
      {{- if .Values.k0s.cloudProvider.enabled }}
      - --enable-cloud-provider
      - --kubelet-extra-args="--cloud-provider=external"
      {{- end }}
      {{- if .Values.k0s.disableComponents }}
      - --disable-components={{ join "," .Values.k0s.disableComponents }}
      {{- end }}
    useSystemHostname: {{ .Values.controlPlane.useSystemHostname | default false }}
    {{- if .Values.controlPlane.preInstalledK0s }}
    preInstalledK0s: {{ .Values.controlPlane.preInstalledK0s }}
    {{- end }}
    {{- if .Values.controlPlane.files }}
    files:
      {{- toYaml .Values.controlPlane.files | nindent 6 }}
    {{- end }}
    {{- with .Values.controlPlane.preStartCommands }}
    preStartCommands:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    {{- with .Values.controlPlane.postStartCommands }}
    postStartCommands:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    k0s:
      apiVersion: k0s.k0sproject.io/v1beta1
      kind: ClusterConfig
      metadata:
        name: {{ .Values.k0s.clusterConfig.name | default "k0s" }}
        namespace: {{ .Values.k0s.clusterConfig.namespace | default "kube-system" }}
      spec:
        telemetry:
          enabled: {{ .Values.k0s.telemetry.enabled | default false }}
        storage:
          type: etcd
          {{- if .Values.k0s.storage.etcd }}
          etcd:
            {{- toYaml .Values.k0s.storage.etcd | nindent 12 }}
          {{- end }}
        api:
          {{- if .Values.k0s.api.externalAddress }}
          externalAddress: {{ .Values.k0s.api.externalAddress }}
          {{- end }}
          {{- if .Values.k0s.api.sans }}
          sans:
            {{- toYaml .Values.k0s.api.sans | nindent 12 }}
          {{- end }}
          extraArgs:
            anonymous-auth: "true"
            {{- with .Values.k0s.api.extraArgs }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
        network:
          provider: calico
          podCIDR: {{ index .Values.clusterNetwork.pods.cidrBlocks 0 }}
          serviceCIDR: {{ index .Values.clusterNetwork.services.cidrBlocks 0 }}
          dualStack:
            enabled: {{ .Values.k0s.network.dualStack.enabled | default false }}
            {{- if .Values.k0s.network.dualStack.enabled }}
            {{- if .Values.k0s.network.dualStack.IPv6podCIDR }}
            IPv6podCIDR: {{ .Values.k0s.network.dualStack.IPv6podCIDR }}
            {{- end }}
            {{- if .Values.k0s.network.dualStack.IPv6serviceCIDR }}
            IPv6serviceCIDR: {{ .Values.k0s.network.dualStack.IPv6serviceCIDR }}
            {{- end }}
            {{- end }}
          calico:
            mode: {{ .Values.k0s.network.calico.mode | default "vxlan" }}
            {{- if .Values.k0s.network.calico.overlay }}
            overlay: {{ .Values.k0s.network.calico.overlay }}
            {{- end }}
            {{- if eq (.Values.k0s.network.calico.mode | default "vxlan") "vxlan" }}
            vxlanPort: {{ .Values.k0s.network.calico.vxlanPort | default (.Values.k0s.network.vxlanPort | default 6789) }}
            {{- if .Values.k0s.network.calico.vxlanVNI }}
            vxlanVNI: {{ .Values.k0s.network.calico.vxlanVNI }}
            {{- end }}
            {{- end }}
            {{- if .Values.k0s.network.calico.mtu }}
            mtu: {{ .Values.k0s.network.calico.mtu }}
            {{- end }}
            {{- if .Values.k0s.network.calico.wireguard }}
            wireguard: {{ .Values.k0s.network.calico.wireguard }}
            {{- end }}
            {{- if .Values.k0s.network.calico.flexVolumeDriverPath }}
            flexVolumeDriverPath: {{ .Values.k0s.network.calico.flexVolumeDriverPath }}
            {{- end }}
            {{- if .Values.k0s.network.calico.ipAutodetectionMethod }}
            ipAutodetectionMethod: {{ .Values.k0s.network.calico.ipAutodetectionMethod }}
            {{- end }}
            {{- if .Values.k0s.network.calico.envVars }}
            envVars:
              {{- range $key, $value := .Values.k0s.network.calico.envVars }}
              {{ $key }}: "{{ $value }}"
              {{- end }}
            {{- end }}
          {{- if .Values.k0s.network.controlPlaneLoadBalancing }}
          controlPlaneLoadBalancing:
            {{- toYaml .Values.k0s.network.controlPlaneLoadBalancing | nindent 12 }}
          {{- end }}
        {{- if or .Values.k0s.extensions.helm.charts.metallb.enabled .Values.k0s.extensions.helm.charts.localPathStorage.enabled }}
        extensions:
          helm:
            charts:
            {{- $order := 0 }}
            {{- if .Values.k0s.extensions.helm.charts.metallb.enabled }}
            {{- $order = add $order 1 }}
            - chartname: {{ .Values.k0s.extensions.helm.charts.metallb.chartname | default "metallb/metallb" }}
              name: {{ .Values.k0s.extensions.helm.charts.metallb.name | default "metallb" }}
              namespace: {{ .Values.k0s.extensions.helm.charts.metallb.namespace | default "metallb-system" }}
              timeout: {{ .Values.k0s.extensions.helm.charts.metallb.timeout | default "15m" }}
              order: {{ $order }}
            {{- end }}
            {{- if .Values.k0s.extensions.helm.charts.localPathStorage.enabled }}
            {{- $order = add $order 1 }}
            - chartname: {{ .Values.k0s.extensions.helm.charts.localPathStorage.chartname | default "containeroo/local-path-provisioner" }}
              name: {{ .Values.k0s.extensions.helm.charts.localPathStorage.name | default "local-path-storage" }}
              namespace: {{ .Values.k0s.extensions.helm.charts.localPathStorage.namespace | default "local-path-storage" }}
              timeout: {{ .Values.k0s.extensions.helm.charts.localPathStorage.timeout | default "15m" }}
              order: {{ $order }}
              values: |
                storageClass:
                  defaultClass: {{ .Values.k0s.extensions.helm.charts.localPathStorage.values.storageClass.defaultClass | default true }}
            {{- end }}
            repositories:
            - name: {{ .Values.k0s.extensions.helm.repositories.metallb.name | default "metallb" }}
              url: {{ .Values.k0s.extensions.helm.repositories.metallb.url | default "https://metallb.github.io/metallb" }}
            - name: {{ .Values.k0s.extensions.helm.repositories.containeroo.name | default "containeroo" }}
              url: {{ .Values.k0s.extensions.helm.repositories.containeroo.url | default "https://charts.containeroo.ch" }}
        {{- end }}
        {{- if .Values.k0s.workerProfiles }}
        workerProfiles:
        {{- range .Values.k0s.workerProfiles }}
        - name: {{ .name }}
          {{- if .values }}
          values:
            {{- toYaml .values | nindent 12 }}
          {{- end }}
          {{- range $key, $value := . }}
          {{- if and (ne $key "name") (ne $key "values") }}
          {{ $key }}:
            {{- toYaml $value | nindent 12 }}
          {{- end }}
          {{- end }}
        {{- end }}
        {{- end }}
  machineTemplate:
    infrastructureRef:
      apiVersion: infrastructure.cluster.x-k8s.io/v1alpha1
      kind: KubevirtMachineTemplate
      name: {{ include "kubevirtmachinetemplate.controlplane.name" . }}
      namespace: {{ .Values.cluster.namespace | default .Release.Namespace | trunc 63 }}
