{{- if gt (int .Values.workersNumber) 0 }}
apiVersion: bootstrap.cluster.x-k8s.io/v1beta2
kind: KubeadmConfigTemplate
metadata:
  name: {{ .Release.Name }}-worker
  namespace: {{ .Release.Namespace }}
spec:
  template:
    spec:
      {{- if .Values.kubeadm.format }}
      format: {{ .Values.kubeadm.format }}
      {{- end }}
      {{- if and .Values.kubeadm.ignition .Values.kubeadm.ignition.containerLinuxConfig .Values.kubeadm.ignition.containerLinuxConfig.additionalConfig }}
      ignition:
        containerLinuxConfig:
          additionalConfig: |
            {{- .Values.kubeadm.ignition.containerLinuxConfig.additionalConfig | nindent 12 }}
      {{- end }}
      joinConfiguration:
        nodeRegistration:
          {{- if .Values.kubeadm.joinConfiguration.nodeRegistration.name }}
          name: {{ .Values.kubeadm.joinConfiguration.nodeRegistration.name | quote }}
          {{- end }}
          {{- if .Values.kubeadm.joinConfiguration.nodeRegistration.kubeletExtraArgs }}
          kubeletExtraArgs:
            {{- toYaml .Values.kubeadm.joinConfiguration.nodeRegistration.kubeletExtraArgs | nindent 12 }}
          {{- end }}
      {{- if .Values.kubeadm.users }}
      users:
        {{- range .Values.kubeadm.users }}
        - name: {{ .name }}
          {{- if .sudo }}
          sudo: {{ .sudo | quote }}
          {{- end }}
          {{- if .sshAuthorizedKeys }}
          sshAuthorizedKeys:
            {{- toYaml .sshAuthorizedKeys | nindent 12 }}
          {{- end }}
        {{- end }}
      {{- end }}
      {{- if .Values.kubeadm.preKubeadmCommands }}
      preKubeadmCommands:
        {{- toYaml .Values.kubeadm.preKubeadmCommands | nindent 8 }}
      {{- end }}
      {{- if .Values.kubeadm.postKubeadmCommands }}
      postKubeadmCommands:
        {{- toYaml .Values.kubeadm.postKubeadmCommands | nindent 8 }}
      {{- end }}
{{- end }}
