---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: RemoteMachineTemplate
metadata:
  name: {{ include "remotemachinetemplate.controlplane.name" . }}
  namespace: {{ .Release.Namespace }}
spec:
  template:
    spec:
      pool: cp

---
{{- if .Values.remoteMachines }}
{{- range $index, $machine := .Values.remoteMachines.controlPlane }}
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: PooledRemoteMachine
metadata:
  name: {{ $machine.name | default (printf "cp-%s" ($machine.address | adler32sum)) }}
  namespace: {{ $.Release.Namespace }}
spec:
  pool: cp
  machine:
{{ toYaml (omit $machine "name") | indent 4 }}
---
{{- end }}
{{- end }}
