apiVersion: operator.cluster.x-k8s.io/v1alpha2
kind: InfrastructureProvider
metadata:
  name: tinkerbell
  namespace: {{ .Release.Namespace }}
spec:
  version: {{ printf "v%s" .Chart.AppVersion | quote }}
  fetchConfig:
    url: https://github.com/tinkerbell/cluster-api-provider-tinkerbell/releases/{{ printf "v%s" .Chart.AppVersion }}/infrastructure-components.yaml
  {{- if .Values.secret.name }}
  configSecret:
    name: {{ .Values.secret.name }}
    namespace: {{ .Release.Namespace }}
  {{- end }}
  {{- if .Values.manager }}
  manager: {{ toYaml .Values.manager | nindent 4 }}
  {{- end }}
