{{- if and .Values.secret.create .Values.secret.name }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.secret.name }}
  namespace: {{ .Release.Namespace }}
stringData:
{{ toYaml .Values.secret.data | indent 2 }}
{{- end }}
